<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true"
		 processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php"
		 xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache">
	<coverage>
		<report>
			<html outputDirectory="build/coverage"/>
			<php outputFile="build/coverage/unit.cov"/>
			<text outputFile="php://stdout" showUncoveredFiles="true"/>
		</report>
	</coverage>
	<testsuites>
		<testsuite name="Project Test Suite">
			<directory>test</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
</phpunit>
